# Data Preparation & Preprocessing (MIMIC-IV Demo Dataset)
##### Project Author: Bruno Ferreira    
##### Date: March-April 2024

In this first notebook, we will focus on preparing and transforming the MIMIC-IV demo dataset into a suitable format to enable the planned sub-projects to be carried out.

#### Loading the dataset into a SQLite database, incorporating all the database's CSV files as tables

In [106]:
import sqlite3
import pandas as pd
from pathlib import Path

csv_directory = Path('C:/Users/bruno/Desktop/mimic') # Path to the directory containing CSV files

csv_files = csv_directory.glob('*.csv') # List of CSV files

conn = sqlite3.connect('C:/Users/bruno/Desktop/mimic/mimic_iv.db') # Create and connect to SQLite database

for csv_file in csv_files: # Iterate over CSV files and create corresponding tables in SQLite database
    table_name = csv_file.stem  # Extract table name from CSV file name
    df = pd.read_csv(csv_file, dtype=str)  # Read CSV file into DataFrame with all columns as strings
    df.to_sql(table_name, conn, if_exists='replace', index=False)  # Create SQLite table

conn.commit()

- Configuring the iPython-SQL environment for queries, and retrieving the total number of patients from the "patients" table for testing purposes

In [ ]:
!pip install ipython-sql

In [ ]:
%load_ext sql
%sql sqlite:///C:/Users/bruno/Desktop/mimic/mimic_iv.db

In [109]:
%sql SELECT COUNT(*) AS Total_Patients FROM patients

 * sqlite:///C:/Users/bruno/Desktop/mimic/mimic_iv.db
Done.

[(100,)]

- Selecting database tables with the most relevant information for the 3 subprojects

##### Relevant Tables:

`Admissions`: Provides information about each patient's hospital admission, including admission and discharge timestamps and the patient outcome (in-hospital death or not) which help understanding the patient's hospitalization journey.

`Patients`: Contains demographic information about patients, including its ID, age and gender, which can be used for patient stratification and risk assessment.

`Diagnoses_ICD`: Includes diagnostic codes assigned to patients during their hospital stay, which are valuable for identifying underlying health conditions and comorbidities that may influence patient outcomes.

`Procedures_ICD`: Provides information about procedures performed on patients during their hospitalization, which can be relevant for understanding the severity of illness and predicting outcomes.

`Prescriptions`: Contains data about medications prescribed to patients, including dosage, frequency, and route of administration, which can be important for assessing treatment regimens and potential medication-related adverse events.

`omr`: Offers miscellaneous health information such as blood pressure, height, weight, and body mass index, which can be useful for risk assessment and outcome prediction.

`labevents`: Includes laboratory test results, which are crucial for assessing patient health status, monitoring disease progression, and identifying abnormalities that may indicate adverse events or mortality risk.

#### Data wrangling

- Let's first inspect the raw data in the tables, total number of entries (rows) and columns, name and data type of each column and number of non-null values in each column:

In [110]:
import numpy as np 

relevant_tables = ['admissions', 'patients', 'diagnoses_icd', 'procedures_icd', 'prescriptions', 'omr', 'labevents']

# Define a function to preprocess each table
def inspect_tables(table_name):
 
    query = f"SELECT * FROM {table_name};" # Fetch data from the table
    data = %sql $query

    df = data.DataFrame() # Convert data to a pandas DataFrame

    print(f"\n{'='*20} Inspecting {table_name} {'='*20}") # Print header for table being processed

    print(f"\nGlimpse of {table_name} DataFrame:") # Display glimpse of DataFrame
    print(df.head())

    print(f"\nSummary information of {table_name} DataFrame:") # Display number of rows and columns, missing values and variable data types
    print(df.info())

# Iterate over relevant tables and preprocess each one
for table_name in relevant_tables:
    inspect_tables(table_name)

 * sqlite:///C:/Users/bruno/Desktop/mimic/mimic_iv.db
Done.

==================== Inspecting admissions ====================

Glimpse of admissions DataFrame:
  subject_id   hadm_id            admittime            dischtime  \
0   10004235  24181354  2196-02-24 14:38:00  2196-03-04 14:02:00
1   10009628  25926192  2153-09-17 17:08:00  2153-09-25 13:20:00
2   10018081  23983182  2134-08-18 02:02:00  2134-08-23 19:35:00
3   10006053  22942076  2111-11-13 23:39:00  2111-11-15 17:20:00
4   10031404  21606243  2113-08-04 18:46:00  2113-08-06 20:57:00

             deathtime admission_type admit_provider_id  \
0                 None         URGENT            P03YMR
1                 None         URGENT            P41R5N
2                 None         URGENT            P233F6
3  2111-11-15 17:20:00         URGENT            P38TI6
4                 None         URGENT            P07HDB

       admission_location        discharge_location insurance language  \
0  TRANSFER FROM HOSPITAL  SKILLED NURSING FACILITY  Medicaid  ENGLISH
1  TRANSFER FROM HOSPITAL          HOME HEALTH CARE  Medicaid        ?
2  TRANSFER FROM HOSPITAL  SKILLED NURSING FACILITY  Medicare  ENGLISH
3  TRANSFER FROM HOSPITAL                      DIED  Medicaid  ENGLISH
4  TRANSFER FROM HOSPITAL                      HOME     Other  ENGLISH

  marital_status                            race            edregtime  \
0         SINGLE              BLACK/CAPE VERDEAN  2196-02-24 12:15:00
1        MARRIED  HISPANIC/LATINO - PUERTO RICAN                 None
2        MARRIED                           WHITE  2134-08-17 16:24:00
3           None                         UNKNOWN                 None
4        WIDOWED                           WHITE                 None

             edouttime hospital_expire_flag
0  2196-02-24 17:07:00                    0
1                 None                    0
2  2134-08-18 03:15:00                    0
3                 None                    1
4                 None                    0

Summary information of admissions DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   subject_id            275 non-null    object
 1   hadm_id               275 non-null    object
 2   admittime             275 non-null    object
 3   dischtime             275 non-null    object
 4   deathtime             15 non-null     object
 5   admission_type        275 non-null    object
 6   admit_provider_id     275 non-null    object
 7   admission_location    275 non-null    object
 8   discharge_location    233 non-null    object
 9   insurance             275 non-null    object
 10  language              275 non-null    object
 11  marital_status        263 non-null    object
 12  race                  275 non-null    object
 13  edregtime             182 non-null    object
 14  edouttime             182 non-null    object
 15  hospital_expire_flag  275 non-null    object
dtypes: object(16)
memory usage: 34.5+ KB
None
 * sqlite:///C:/Users/bruno/Desktop/mimic/mimic_iv.db
Done.

==================== Inspecting patients ====================

Glimpse of patients DataFrame:
  subject_id gender anchor_age anchor_year anchor_year_group         dod
0   10014729      F         21        2125       2011 - 2013        None
1   10003400      F         72        2134       2011 - 2013  2137-09-02
2   10002428      F         80        2155       2011 - 2013        None
3   10032725      F         38        2143       2011 - 2013  2143-03-30
4   10027445      F         48        2142       2011 - 2013  2146-02-09

Summary information of patients DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   subject_id         100 non-null    object
 1   gender             100 non-null    object
 2   anchor_age         100 non-null    object
 3   anchor_year        100 non-null    object
 4   anchor_year_group  100 non-null    object
 5   dod                31 non-null     object
dtypes: object(6)
memory usage: 4.8+ KB
None
 * sqlite:///C:/Users/bruno/Desktop/mimic/mimic_iv.db
Done.

==================== Inspecting diagnoses_icd ====================

Glimpse of diagnoses_icd DataFrame:
  subject_id   hadm_id seq_num icd_code icd_version
0   10035185  22580999       3     4139           9
1   10035185  22580999      10     V707           9
2   10035185  22580999       1    41401           9
3   10035185  22580999       9     3899           9
4   10035185  22580999      11    V8532           9

Summary information of diagnoses_icd DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4506 entries, 0 to 4505
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   subject_id   4506 non-null   object
 1   hadm_id      4506 non-null   object
 2   seq_num      4506 non-null   object
 3   icd_code     4506 non-null   object
 4   icd_version  4506 non-null   object
dtypes: object(5)
memory usage: 176.1+ KB
None
 * sqlite:///C:/Users/bruno/Desktop/mimic/mimic_iv.db
Done.

==================== Inspecting procedures_icd ====================

Glimpse of procedures_icd DataFrame:
  subject_id   hadm_id seq_num   chartdate icd_code icd_version
0   10011398  27505812       3  2146-12-15     3961           9
1   10011398  27505812       2  2146-12-15     3615           9
2   10011398  27505812       1  2146-12-15     3614           9
3   10014729  23300884       4  2125-03-23     3897           9
4   10014729  23300884       1  2125-03-20     3403           9

Summary information of procedures_icd DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 722 entries, 0 to 721
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   subject_id   722 non-null    object
 1   hadm_id      722 non-null    object
 2   seq_num      722 non-null    object
 3   chartdate    722 non-null    object
 4   icd_code     722 non-null    object
 5   icd_version  722 non-null    object
dtypes: object(6)
memory usage: 34.0+ KB
None
 * sqlite:///C:/Users/bruno/Desktop/mimic/mimic_iv.db
Done.

==================== Inspecting prescriptions ====================

Glimpse of prescriptions DataFrame:
  subject_id   hadm_id pharmacy_id poe_id poe_seq order_provider_id  \
0   10027602  28166872    27168639   None    None              None
1   10027602  28166872    40720238   None    None              None
2   10027602  28166872    62845687   None    None              None
3   10027602  28166872    24340150   None    None              None
4   10027602  28166872    14435820   None    None              None

             starttime stoptime drug_type              drug  ...   gsn   ndc  \
0  2201-10-30 12:00:00     None      MAIN  Fentanyl Citrate  ...  None  None
1  2201-10-30 12:00:00     None      MAIN  Fentanyl Citrate  ...  None  None
2  2201-10-31 12:00:00     None      MAIN         Lorazepam  ...  None  None
3  2201-10-30 12:00:00     None      MAIN         Midazolam  ...  None  None
4  2201-10-30 12:00:00     None      MAIN         Midazolam  ...  None  None

  prod_strength form_rx dose_val_rx dose_unit_rx form_val_disp form_unit_disp  \
0          None    None        None         None          None           None
1          None    None        None         None          None           None
2          None    None        None         None          None           None
3          None    None        None         None          None           None
4          None    None        None         None          None           None

  doses_per_24_hrs route
0             None  None
1             None  None
2             None  None
3             None  None
4             None  None

[5 rows x 21 columns]

Summary information of prescriptions DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18087 entries, 0 to 18086
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   subject_id         18087 non-null  object
 1   hadm_id            18087 non-null  object
 2   pharmacy_id        18087 non-null  object
 3   poe_id             17969 non-null  object
 4   poe_seq            17969 non-null  object
 5   order_provider_id  17993 non-null  object
 6   starttime          18087 non-null  object
 7   stoptime           18073 non-null  object
 8   drug_type          18087 non-null  object
 9   drug               18087 non-null  object
 10  formulary_drug_cd  18075 non-null  object
 11  gsn                15568 non-null  object
 12  ndc                18066 non-null  object
 13  prod_strength      18078 non-null  object
 14  form_rx            12 non-null     object
 15  dose_val_rx        18078 non-null  object
 16  dose_unit_rx       18078 non-null  object
 17  form_val_disp      18078 non-null  object
 18  form_unit_disp     18078 non-null  object
 19  doses_per_24_hrs   10704 non-null  object
 20  route              18081 non-null  object
dtypes: object(21)
memory usage: 2.9+ MB
None
 * sqlite:///C:/Users/bruno/Desktop/mimic/mimic_iv.db
Done.

==================== Inspecting omr ====================

Glimpse of omr DataFrame:
  subject_id   chartdate seq_num      result_name result_value
0   10011398  2146-12-01       1  Height (Inches)           63
1   10011398  2147-01-22       1     Weight (Lbs)          127
2   10011398  2146-12-01       1     Weight (Lbs)          135
3   10011398  2147-07-24       1     Weight (Lbs)          136
4   10011398  2147-03-26       1     Weight (Lbs)          136

Summary information of omr DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2964 entries, 0 to 2963
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   subject_id    2964 non-null   object
 1   chartdate     2964 non-null   object
 2   seq_num       2964 non-null   object
 3   result_name   2964 non-null   object
 4   result_value  2964 non-null   object
dtypes: object(5)
memory usage: 115.9+ KB
None
 * sqlite:///C:/Users/bruno/Desktop/mimic/mimic_iv.db
Done.

==================== Inspecting labevents ====================

Glimpse of labevents DataFrame:
  labevent_id subject_id   hadm_id specimen_id itemid order_provider_id  \
0      172061   10014354  29600294     1808066  51277              None
1      172062   10014354  29600294     1808066  51279              None
2      172068   10014354  29600294     1808066  52172              None
3      172063   10014354  29600294     1808066  51301              None
4      172050   10014354  29600294     1808066  51249              None

             charttime            storetime value valuenum valueuom  \
0  2148-08-16 00:00:00  2148-08-16 01:30:00  15.4     15.4        %
1  2148-08-16 00:00:00  2148-08-16 01:30:00  3.35     3.35     m/uL
2  2148-08-16 00:00:00  2148-08-16 01:30:00  49.7     49.7       fL
3  2148-08-16 00:00:00  2148-08-16 01:30:00  20.3     20.3     K/uL
4  2148-08-16 00:00:00  2148-08-16 01:30:00  31.1     31.1     g/dL

  ref_range_lower ref_range_upper      flag priority comments
0            10.5            15.5      None  ROUTINE     None
1             4.6             6.1  abnormal  ROUTINE     None
2            35.1            46.3  abnormal  ROUTINE     None
3               4              10  abnormal  ROUTINE     None
4              32              37  abnormal  ROUTINE     None

Summary information of labevents DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107727 entries, 0 to 107726
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   labevent_id        107727 non-null  object
 1   subject_id         107727 non-null  object
 2   hadm_id            79307 non-null   object
 3   specimen_id        107727 non-null  object
 4   itemid             107727 non-null  object
 5   order_provider_id  16830 non-null   object
 6   charttime          107727 non-null  object
 7   storetime          106735 non-null  object
 8   value              98139 non-null   object
 9   valuenum           95246 non-null   object
 10  valueuom           91524 non-null   object
 11  ref_range_lower    88999 non-null   object
 12  ref_range_upper    88999 non-null   object
 13  flag               40275 non-null   object
 14  priority           98398 non-null   object
 15  comments           18454 non-null   object
dtypes: object(16)
memory usage: 13.2+ MB
None

- Let's load the tables information into pandas dataframes to to make them easier to handle

In [111]:
for table in relevant_tables:
    query = f"SELECT * FROM {table}"
    globals()[table] = pd.read_sql_query(query, conn)

- Cleaning and pre-processing the raw tables

`Admissions table`

In [112]:
admissions_del = ['hadm_id','admit_provider_id','admission_type','insurance','language','marital_status','edregtime','edouttime','deathtime','discharge_location']
admissions.drop(columns=admissions_del, inplace=True) # Drops unnecessary columns

admissions['admittime'] = pd.to_datetime(admissions['admittime']) # Converts variables to correct data type
admissions['dischtime'] = pd.to_datetime(admissions['dischtime']) # P.S.: Date years were changed to de-identify patients but are consistent across the databases tables for each patient.
admissions['hospital_expire_flag'] = admissions['hospital_expire_flag'].astype(int)

headers = ['subject_id','admittime','dischtime','admission_location','race','deceased'] # Assigns new column names
admissions.columns = headers

if admissions.isnull().sum().sum() == 0: # Checks for missing values
    print("Relevant columns from this table have no missing values.")
else:
    print("One or more relevant columns from this table have missing values.")

Relevant columns from this table have no missing values.

`Patients table`

In [113]:
patients_del = ['anchor_year', 'anchor_year_group'] # Drops unnecessary columns
patients.drop(columns=patients_del, inplace=True) 

patients['anchor_age'] = patients['anchor_age'].astype(int) # Converts variables to correct data type
patients['dod'] = pd.to_datetime(patients['dod'])

headers = ['subject_id', 'gender', 'age', 'dateofdeath'] # Assigns new column names
patients.columns = headers

if patients.isnull().sum().sum() == 0: # Checks for missing values (P.S.: Null values in 'dateofdeath' mean "No death", so none are missing values.)
    print("Relevant columns from this table have no missing values.")
else:
    print("One or more relevant columns from this table have missing values.")

One or more relevant columns from this table have missing values.

`Diagnoses_ICD table`

In [114]:
diagnoses_icd.drop(columns=['hadm_id'], inplace=True)  # Drops unnecessary columns

diagnoses_icd['seq_num'] = diagnoses_icd['seq_num'].astype(int) # Converts variable to correct data type

diagnoses_icd.rename(columns={'seq_num': 'diagnosis_order'}, inplace=True) # Renames 'seq_num' column

if diagnoses_icd.isnull().sum().sum() == 0: # Checks for missing values
    print("Relevant columns from this table have no missing values.")
else:
    print("One or more relevant columns from this table have missing values.")

Relevant columns from this table have no missing values.

`Procedures_ICD table`

In [115]:
procedures_icd.drop(columns=['hadm_id'], inplace=True) # Drops unnecessary columns

procedures_icd.rename(columns={'chartdate': 'procedure_date', 'seq_num': 'procedure_order'}, inplace=True) # Renames columns

procedures_icd['procedure_order'] = procedures_icd['procedure_order'].astype(int) # Converts variable to correct data type

if procedures_icd.isnull().sum().sum() == 0: # Checks for missing values
    print("Relevant columns from this table have no missing values.")
else:
    print("One or more relevant columns from this table have missing values.")

Relevant columns from this table have no missing values.

`Prescriptions table`

In [116]:
prescriptions = prescriptions[['subject_id', 'drug']] # Keeps most relevant columns

prescriptions.rename(columns={'drug': 'prescriptions'}) # Renames 'drug' column to "prescriptions"

if prescriptions.isnull().sum().sum() == 0: # Checks for missing values
    print("Relevant columns from this table have no missing values.")
else:
    print("One or more relevant columns from this table have missing values.")

Relevant columns from this table have no missing values.

`OMR (Miscellaneous measurements) table`

In [117]:
omr.drop(columns=['seq_num'], inplace=True) # Drops unnecessary column

omr.rename(columns={'chartdate': 'date', 'result_name': 'measurement', 'result_value': 'value'}, inplace=True) # Renames columns

omr['date'] = pd.to_datetime(omr['date']) # Converts variable to correct data type

### Splits blood pressure values into systolic and diastolic columns
### omr[['systolic_bp', 'diastolic_bp']] = omr['value'].str.split('/', expand=True)

if omr.isnull().sum().sum() == 0: # Checks for missing values
    print("Relevant columns from this table have no missing values.")
else:
    print("One or more relevant columns from this table have missing values.")
#FEATURE ENGINNERING: AGGREGATE (MEAN VALUES). SEPARATE MEASUREMENTS IN COLUMNS

Relevant columns from this table have no missing values.

`Labevents (Laboratory Results) table`

In [118]:
labevents = labevents[['subject_id', 'valuenum', 'flag']] # Keeps only the required columns

labevents.rename(columns={'flag': 'labresult'}, inplace=True) # Renames column

labevents.dropna(subset=['valuenum'], inplace=True) # Filters rows without missing lab result values

labevents.drop(columns=['valuenum'], inplace=True) # Removes lab result values column (no longer necessary)

labevents.isnull().sum() # Checks for missing values
#FEATURE ENGINNERING: ex: % of abnormal lab results(?)

subject_id        0
labresult     56340
dtype: int64

- Missing values on 'labresult' mean "normal" lab results, so let's replace them accordingly:

In [119]:
labevents.loc[labevents['labresult'].isnull(), 'labresult'] = 'normal'

- Lastly, we need to remove duplicated rows that don't add value to our research (Excluding 'admissions' and 'labevents' tables, because duplicates like multiple abnormal lab results or multiple admissions for the same patient may give us valuable insights):

In [120]:
# Duplicated patients and identical diagnoses, procedures, prescriptions and measurements are redundant
duplicates_from = ['patients', 'diagnoses_icd', 'procedures_icd', 'prescriptions', 'omr']

for table_name in duplicates_from:
    df = globals()[table_name]  # Get DataFrame by its name
    
    if df.duplicated().any(): # Check for duplicates
        print(f"Duplicates found in {table_name}. Removing duplicates...")
        df.drop_duplicates(inplace=True)  # Remove duplicates
        print(f"Duplicates removed from {table_name}.")
    else:
        print(f"No duplicates found in {table_name}.")

No duplicates found in patients.
Duplicates found in diagnoses_icd. Removing duplicates...
Duplicates removed from diagnoses_icd.
No duplicates found in procedures_icd.
Duplicates found in prescriptions. Removing duplicates...
Duplicates removed from prescriptions.
Duplicates found in omr. Removing duplicates...
Duplicates removed from omr.

#### Feature Engineering

In [121]:
admissions.head()

,subject_id,admittime,dischtime,admission_location,race,deceased
0,10004235,2196-02-24 14:38:00,2196-03-04 14:02:00,TRANSFER FROM HOSPITAL,BLACK/CAPE VERDEAN,0
1,10009628,2153-09-17 17:08:00,2153-09-25 13:20:00,TRANSFER FROM HOSPITAL,HISPANIC/LATINO - PUERTO RICAN,0
2,10018081,2134-08-18 02:02:00,2134-08-23 19:35:00,TRANSFER FROM HOSPITAL,WHITE,0
3,10006053,2111-11-13 23:39:00,2111-11-15 17:20:00,TRANSFER FROM HOSPITAL,UNKNOWN,1
4,10031404,2113-08-04 18:46:00,2113-08-06 20:57:00,TRANSFER FROM HOSPITAL,WHITE,0

In [122]:
diagnoses_icd.head()

  subject_id  diagnosis_order icd_code icd_version
0   10035185                3     4139           9
1   10035185               10     V707           9
2   10035185                1    41401           9
3   10035185                9     3899           9
4   10035185               11    V8532           9

In [123]:
labevents.head()

  subject_id labresult
0   10014354    normal
1   10014354  abnormal
2   10014354  abnormal
3   10014354  abnormal
4   10014354  abnormal

In [124]:
omr.head()

  subject_id       date      measurement value
0   10011398 2146-12-01  Height (Inches)    63
1   10011398 2147-01-22     Weight (Lbs)   127
2   10011398 2146-12-01     Weight (Lbs)   135
3   10011398 2147-07-24     Weight (Lbs)   136
4   10011398 2147-03-26     Weight (Lbs)   136

In [125]:
patients.head()

  subject_id gender  age dateofdeath
0   10014729      F   21         NaT
1   10003400      F   72  2137-09-02
2   10002428      F   80         NaT
3   10032725      F   38  2143-03-30
4   10027445      F   48  2146-02-09

In [126]:
prescriptions.head()

  subject_id                                          drug
0   10027602                              Fentanyl Citrate
2   10027602                                     Lorazepam
3   10027602                                     Midazolam
5   10023239  Insulin Pump (Self Administering Medication)
8   10027602                                      Propofol

In [127]:
procedures_icd.head()

  subject_id  procedure_order procedure_date icd_code icd_version
0   10011398                3     2146-12-15     3961           9
1   10011398                2     2146-12-15     3615           9
2   10011398                1     2146-12-15     3614           9
3   10014729                4     2125-03-23     3897           9
4   10014729                1     2125-03-20     3403           9

####### DATA PREPARATION NEXT STEPS:

# DELETE MISSING VALUES:
#df.dropna(subset=['column'], axis=0, inplace=True)  # Axis 0 removes rows, 1 removes columns
#df.reset_index(drop=True, inplace=True)

#or  replace by mean:
#df.replace(np.nan, df['column'].mean(), inplace=True)

#or replace by frequency:
#df['num-of-doors'].value_counts() / +.idxmax() #most common
-------------------------------------------------
# Feature engineering: ------------------------------------------------------------------------
# ex: Aggregate admissions for each patient - average length of stay, total number of admissions, final outcome (later)
-----------------------------------------------------------------
# DATA NORMALIZATION (careful with different units..):
# Simple Feature Scaling (SFS) example:
##df['column'] = df['column'] / df['column'].max()
---------------------------------------------------
# DATA BINNING (Optional):
##bins = np.linspace(min(df['price']), max(df['price']), 4)
##group_names = ["Low", "Medium", "High"]
##df['price-binned'] = pd.cut(df['price'], bins, labels=group_names, include_lowest=True)
----------------------------------------------------
# TURN CATEGORICAL VARIABLES INTO QUANTITATIVE:
##dummy_variable_1 = pd.get_dummies(df["fuel-type"])
##dummy_variable_1.rename(columns={'gas':'fuel-type-gas', 'diesel':'fuel-type-diesel'}, inplace=True)
##Merge data frame "df" and "dummy_variable_1" 
##df = pd.concat([df, dummy_variable_1], axis=1)
##Drop original column "fuel-type" from "df"
##df.drop("fuel-type", axis = 1, inplace=True)
-----------------------------
# EXPORT DATAFRAME TO CSV(optional):
##df.to_csv('clean_df.csv', index=False)

####### !!!: Remaining variables need explanation before eda and modeling
########### EXAMPLE: -`'dateofdeath'`: This variable reflects both out-of-hospital (upto 1 year) and in-hospital deaths.